//CUSTOM PAGE STYLES

//END CUSTOM PAGE STYLES

//FULL WIDTH COLOR BLOCK
section.full-width-block.center-text{
  float: left;
  display: block;
  width: 100%;
  background: #34283D;
  .text-container{
    text-align: center;
    color: #fff;
    display: table;
    margin: 50px auto;
    .middle{
      display: table-cell;
      vertical-align: middle;
      h1{
        margin: 0;
        margin-bottom: 25px;
      }
      p{
        margin: 0;
      }
      img{
        margin-bottom: 15px;
      }
      .btn{
        border-color: #fff;
        width: 230px;
        color: #fff;
        &:hover{
          background: #fff;
          color: #34283D;
        }
      }
    }
  }
}
//THREE COLUMN TEXT SECTION
section.three_column_text{
  margin: 60px 0;
  display: block;
  float: left;
  width: 100%;
  .container{
    max-width: 1170px;
    margin: 0 auto;
    .three-col{
      width: 33.33%;
      float:left;
      display: block;
      .text-container {
        width: 70%;
        text-align: center;
        margin: 0 auto;
        h4{
          margin-bottom: 0;
          font-size: 20px;
          letter-spacing: 1px;
          font-weight: 600;
        }
        p{
          font-weight: 300;
          letter-spacing: 1px;
        }
      }
    }
  }
}

//IMAGE RIGHT TEXT LEFT
section.imageright-textleft-fw{
  float: left;
  display: block;
  width: 100%;
  .half{
    width: 50%;
    float: left;
    height: 500px;
  }
  .image-holder{
    background-size: cover;
  }
  .text-holder{
     display: table;
    .text-container{
      display: table-cell;
      margin: 0 auto;
      text-align: center;
      color: #222529;
      vertical-align: middle;
      .middle{
        margin: 0 auto;
        width: 70%;
        p{
          font-weight: 300;
          margin-top: 5px;
          letter-spacing: 1px;
          font-size: 15px;
          margin-bottom: 20px;
          a{
            color: #000;
            text-decoration: underline;
            font-size: 16px;
            line-height: 45px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
//IMAGE LEFT TEXT RIGHT
section.imageleft-text{
  float: left;
  display: block;
  .half{
    width: 50%;
    float: left;
    height: 500px;
  }
    .image-holder{
      background-size: cover;
    }
    .text-holder{
       display: table;
      .text-container{
        display: table-cell;
        margin: 0 auto;
        text-align: center;
        color: #222529;
        vertical-align: middle;
        .middle{
          margin: 0 auto;
          width: 70%;
          p{
            font-weight: 300;
            margin-top: 5px;
            letter-spacing: 1px;
            font-size: 15px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

//IMAGE RIGHT TEXT LEFT
  section.imageright-text{
    height: 500px;
    background: #F5F7F9;
    display: block;
    float: left;
    position: relative;
    width: 100%;
    .container{
      width: 80%;
      margin: 0 auto;
      padding: 65px 0;
      position: relative;
      display: flex;
      &:before{
        content: '';
        background-image: url(../tribe/images/tribe_logo_red.png);
        display: block;
        position: absolute;
        height: 125px;
        width: 125px;
        background-repeat: no-repeat;
        background-size: 100%;
        left: 837px;
        top: 2px;
      }
      .half{
        width: 50%;
        float: left;
        height: 375px;
      }
        .image-holder{
          background-size: cover;
        }
        .text-holder{
          display: flex;
          margin-right: 30px;
          .text-container{
            width: 600px;
            margin: 0 auto;
            text-align: left;
            color: #222529;
            .middle{
              h2{
                margin-bottom: 0;
              }
              h3{
                margin: 0;
              }
              p{
                font-weight: 300;
                margin-top: 5px;
                letter-spacing: 1px;
                font-size: 15px;
                margin-bottom: 20px;
              }
              .social-icons{
                i{
                  margin-right: 20px;
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }

//TEXTAREA
section.textarea{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background: #F5F7F9;
  text-align: center;
  padding: 50px 0;
  .container{

  }
}

//FULL WIDTH IMAGE
section.full_width_image{
  display: block;
  width: 100%;
  float: left;
  line-height: 0;
}



//CONTACT FORM
section.contact_form{
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background-size: cover;
  padding: 85px 0;
  .container{
    width: 900px;
    margin: 0px auto;
    .left-contact-col{
      width: 300px;
      margin-right: 50px;
      float: left;
      display: block;
      height: 420px;
      padding: 20px;
      background-color: #fff;
      h2{
        margin-top: 0;
      }
    }
    .right-contact-col{
      width: 550px;
      height: 420px;
      float: left;
      display: block;
      padding: 20px;
      background-color: #fff;
      h2{
        margin-top: 0px;
        margin-bottom: 0;
      }
      .wpcf7{
        p{
          margin-bottom: 0;
          margin-top: 0;
        }
        label.half{
          width: 50%;
          float: left;
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #A3A3A3;
        font-size: 12px;
        letter-spacing: 1px;
        padding-left: 5px;
        }
        input[type="text"], input[type="email"]{
          background: #EDEDED;
          border: none;
          width: 225px;
          border-radius: 0;
          margin: 0px 18px 18px 0;
          color: #000;
          font-family: "brandon-grotesque", sans-serif;
          padding-left: 5px;
          height: 40px;
        }
         textarea{
           background: #EDEDED;
           border: none;
           border-radius: 0;
           margin: 0px 18px 18px 0;
           color: #000;
           font-family: "brandon-grotesque", sans-serif;
           padding-left: 5px;
           height: 155px;
           padding-top: 10px;
           width: 460px;
         }
         input[type="submit"]{
           float: left;
           color: #fff;
           text-decoration: none;
           background: #E7333E;
           padding: 12px 35px;
           font-weight: 700;
           letter-spacing: 1px;
           border-radius: 0;
           border: none;
           font-family: "brandon-grotesque", sans-serif;
           &:hover{
             background: #222529;
             transition: all 0.3s ease;
           }
         }
         div.wpcf7-mail-sent-ok{
           border: none;
           font-family: "brandon-grotesque", sans-serif;
         }
        form{
          .col-half{
            span.wpcf7-form-control-wrap{
              input.wpcf7-form-control.wpcf7-text{
                width: 45%;
                float: left;
              }
            }
          }
          .col-full{
            span.wpcf7-form-control-wrap{
              input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email{
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

section.intro-header.center-text{
  float: left;
  display: block;
  width: 100%;
  padding: 25px 0;
  .text-container{
    text-align: center;
    width: 530px;
    margin: 0 auto;
    .middle{
      h4.subtitle{
        font-style: italic;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 2px;
        margin: 0;
        margin-top: 20px;
      }
      h1{
        margin-bottom: 20px;
        margin-top: 0;
      }
      img{
        margin: 20px;
      }
    }
  }
}

section.call_to_action{
  float: left;
  display: block;
  background-color: #34283D;
  width: 100%;
  .container{
    width: 80%;
    display: table;
    margin: 30px auto;
    color: #fff;
    .left_text_container{
      width: 100%;
      float: left;
      display: block;
      margin-right: 20px;
    }
    .button_container{
      display: table-cell;
      vertical-align: middle;
      width: 40%;
      a.btn{
        border: 3px solid #fff;
        color: #fff;
        float: right;
        width: auto;
        &:hover{
          color: #34283D;
          background: #fff;
        }
      }
    }
  }
}

.text-callout {
  height:330px;
  overflow:hidden;
  // @include clearfix;
  width:100%;
  position: relative;
  .text-callout-block {
    height:330px;
    cursor:pointer;
    width:33.33%;
    float:left;
    text-align:center;
    position: relative;
    .middle {
      height:330px;
      display: table-cell;
      vertical-align: middle;
      padding: 0 40px;
      p{
        margin-bottom: 5px;
      }
      .btn{
        opacity: 0;
      }
    }
    .text-container {
      width:100%;
      margin:0;
      left:0;
    }
    a, a:link, a:visited {
      display:block;
      width:100%;
      height:100%;
      color:#fff;
      text-decoration: none;
      opacity:1;
      // @include transition(all 250ms linear);
      img {
        max-width:80px;
        height:auto;
      }
      .btn{
        opacity: 0;
        border: none;
      }
      h3 {
        color:#fff;
        // @include transition(all 250ms linear);
        letter-spacing: 1px;
      }
      &:hover {
        // @include transition(all 250ms linear);
        opacity:0.95;
        h3 {
          // @include transition(all 250ms linear);
          letter-spacing: 2px;
        }
        .btn{
          color: #fff;
          opacity: 1;
          background-color: inherit;
          border: none;
        }
      }
    }
    span {
      display:block;
      width:100%;
      height:100%;
      color:#fff;
      text-decoration: none;
      cursor:default;
      opacity:1;
      // @include transition(all 250ms linear);
      img {
        max-width:80px;
        height:auto;
      }
      h4 {
        color:#fff;
        text-transform: uppercase;
        // @include transition(all 250ms linear);
        letter-spacing: 1px;
      }
      &:hover {
        img {
          opacity:1;
        }
      }
    }
    &:first-child {
      a, span {
        background:#34283D;
      }
    }
    &:nth-child(2) {

      a, span {
        background:#5C416F;
      }
    }
    &:last-child {
      a, span {
        background:#8250A8;
      }
    }
  }
}
//END CALLOUT BLOCKS

//QUARTER BLOCKS
.quarter-block {
  .container{
    // width: 95%;
    // margin: 0 auto;
    .block {
      width:25%;
      float:left;
      height:300px;
      position: relative;
      a, a:link, a:visited {
        display: block;
        width:100%;
        height:100%;
        position: relative;
        // @include transition(all 250ms linear);
        img {
          opacity: 1;
        }
        span.btn {
  //          position: absolute;
  //          bottom: 40px;
  //          left: calc(50% - 70px);
          position:relative;
          width:auto;
          height:auto;
  //          line-height:24px;
  //          min-height:48px;
  //          opacity:0;
          // @include transition(all 250ms linear);
          opacity: 0;
        }
        img {
          display:block;
          position: absolute;
          left:calc(50% - 100px);
          top:calc(50% - 45px);
          &.hover {
            display:none;
          }
        }
        &:hover {
          // @include transition(all 250ms linear);
          img.hover {
            display:block;
            opacity:1;
          }
          span.btn {
            // @include transition(all 250ms linear);
            opacity:1;
          }
        }
      }
      &.bg-image {
        height:300px;
        background-size:cover;
        background-position: center top;
        background-repeat:no-repeat;

        a, a:link, a:visited {
          text-align: center;
          text-decoration: none;
          // @include transition(all 250ms linear);
          h4 {
            color:#fff !important;
            // @include transition(all 250ms linear);
            opacity:0;
            min-width:250px;
          }
          .image-container {
            width:250px;
            min-width:250px;
            max-width:250px;
          }
          span.btn {
            // @include transition(all 250ms linear);
            opacity:0;
          }
          &:hover {
            // @include transition(all 250ms linear);
            span.btn {
              // @include transition(all 250ms linear);
              opacity:1;
            }
            h4 {
              color:#fff !important;
              // @include transition(all 250ms linear);
              opacity:1;
            }
          }
        }
      }
      .middle {
        height:300px;
        min-width:100%;
        width:100%;
        display: table-cell;
        vertical-align: middle;
        h2{
          color: #34283D;
          text-align: center;
          margin: 0;
        }
      }
      .text-container {
        left:calc(50% - 100px);
        max-width: 200px;
        width: 200px;
        min-width: 200px;
        margin: 0px auto;
        display: table;
        h4 {
          color:#fff;
        }
      }
      .image-container {
        left:calc(50% - 100px);
        max-width: 200px;
        width: 200px;
        min-width:200px;
        margin: 0px auto;
        img {
          margin:0 auto;
        }
      }
    }
  }
}
